.progress-container {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px; /* Height of the progress bar */
  background-color: #ddd; /* Background color of the progress container */
}

.progress-bar {
  height: 100%;
  background-color: red; /* Color of the progress bar */
}
